.container-fluid:nth-child(1) {
    background-color: #E89897;
}

.container-fluid:nth-child(2) {
    background-color: #FFC98B;
    height: 80px;
    padding-top: 0.5%;
}

.container-fluid:nth-child(3) {
    background-color: #F9E7E7;
    height: 350px;
    padding-top: 0.5%;
}

.nav-item {
    font-family: 'Tiro Devanagari Marathi';
    font-size: large;
    text-decoration: underline;
}

.navbar-collapse {
    padding-top: 2.3%;
}

.nav-item .nav-link {
    color: #6B6464;
}

.nav-item .nav-link:hover {
    color: #6B6464;
}

.nav-item .nav-link:focus {
    color: #6B6464;
}

.nav-item .dropdown-menu {
    background-color: #FFC98B;
}

.nav-item .dropdown-menu::after {
    background-color: #FFC98B;
}

.nav-item .dropdown-menu .dropdown-item {
    font-family: 'Tiro Devanagari Marathi';
}

.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #E89897;
}

.carousel-control-prev-icon {
    background-color: black;
    border-radius: 20px;
}

.carousel-control-next-icon {
    background-color: black;
    border-radius: 20px;
}

.info-text {
    color: #6B6464;
    font-family: 'Titan One';
    font-size: x-large;
}

.btn {
    background-color: #E89897 !important;
    font-family: 'Roboto' !important;
    font-weight: bolder !important;
    width:auto;
    opacity: 65%;
}

.form-check .form-check-input {
    background-color: #6B6464;
    opacity: 65%;
}

a.text-center {
    color: white;
    font-family: 'Roboto';
}